@import url(https://fonts.googleapis.com/css?family=Lobster);
/****************************************************
*				Media Query 						*
****************************************************/
@media only screen and (min-width: 300px) {
  #slider h2{
    font-size: 1.6rem;
  }
  #slider span{
	  font-size: 1.2rem;
	  font-family: 'Lobster', cursive;
	  letter-spacing: 0.05rem;
  }
  #slider blockquote{line-height: normal;}
  #holder {
    height: 420px;
    width: 375px;
    margin: -40px -115px;
  }
}
@media only screen and (min-width: 360px) {
  #slider h2{
    font-size: 1.6rem;
  }
  #slider span{
	  font-size: 1.2rem;
	  font-family: 'Lobster', cursive;
	  letter-spacing: 0.05rem;
  }
  #slider blockquote{line-height: normal;}
  #holder {
    height: 420px;
    width: 375px;
    margin: -40px -95px;
  }
}

@media only screen and (min-width: 480px) {
  #slider h2{
    font-size: 2.2rem;
	line-height: normal;
  }
  #slider span{
	  font-size: 1.65rem;
	  font-family: 'Lobster', cursive;
  }
  #holder {
    height: 420px;
    width: 375px;
    margin: -40px -85px;
  }
}

@media only screen and (min-width: 600px) {
  #slider h2 {
    font-size: 2.5rem;
	line-height: normal;
  }
  #slider span{
	  font-size: 1.875rem;
	  font-family: 'Lobster', cursive;
  }
  #holder {margin: -40px 5px; }
}

@media only screen and (min-width: 720px) {
  #slider h2 {
    font-size: 2.8rem;
	line-height: normal;
  }
  #slider span{
	  font-size: 2.1rem;
	  font-family: 'Lobster', cursive;
  }
  #holder {
    margin: -55px -15px;
  }
}
@media only screen and (min-width: 760px) {
  #holder {margin: -50px -95px;}
}
@media only screen and (min-width: 840px) {
  #slider h2 {
    font-size: 3.2rem;
	line-height: normal;
  }
  #slider span{
	  font-size: 2.4rem
  }
  header{padding-bottom: 10px}
  #holder {
    margin: -50px -55px;
  }
}
@media only screen and (min-width: 900px) {
  #holder {margin: -50px -65px;}
}

@media only screen and (min-width: 960px) {
  #slider h2 {
    font-size: 3.5rem;
	line-height: normal;
  }
  #slider span{
	  font-size: 2.625rem;
	  font-family: 'Lobster', cursive;
  }
  #holder { margin: 0 0 30px;}
}

/* Content elements */

.slider .left-align .deco {
	width: 260px;
	height: 260px;
	border: 2px dashed #999;
	border: 2px dashed rgba(150,150,150,0.4);
	border-radius: 50%;
	position: relative;
	/*bottom: 50%;*/
	left: 15%;
	margin: 0 0 0 0px;
}
.slider .decorow {
	width: 260px;
	height: 260px;
	border: 2px dashed #212121;
	/*border: 2px dashed rgba(150,150,150,0.4);*/
	border-radius: 50%;
	position: relative;
	margin:0 auto;
}
.slider .right-align .deco {
	width: 260px;
	height: 260px;
	border: 2px dashed #000;
	border-radius: 50%;
	position: relative;
	/*bottom: 50%;*/
	left: 75%;
	margin: 0 0 0 0px;
}
.slider [data-icon]:after {
    content: attr(data-icon);
    font-family: 'truelove';
	color: #212121;
	text-shadow: 0 0 1px #999;
	position: absolute;
	width: 220px;
	height: 220px;
	line-height: 220px;
	text-align: center;
	font-size: 100px;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -110px;
	box-shadow: inset 0 0 0 10px #f7f7f7;
	border-radius: 50%;
}
.slider blockquote cite {
	font-size: 12px;
	padding-top: 6px;
	display: block;
	font-style: italic;
}

/* Animations for content elements */
#p.decorow, #r.decorow, #i.decorow, #n.decorow  {
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
#r.decorow { animation-delay: 6.5s; }
#i.decorow { animation-delay: 13s; }
#n.decorow { animation-delay: 20s; }
#c.decorow { animation-delay: 26.5s; }
#e.decorow { animation-delay: 33s; }

.slider h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
/************** Skills Bar ********************/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.ba, .its, .webdev, .as, .ets{height: 25px; width: 25px;}
.its {background-color:#97BE0D; }
.ba {background-color:#88B8E6; }
.ets{background-color:#D84F00; }
.webdev {background-color:#EDEB00; }
.as {background-color:#9A2BCC; }

.my-legend .legend-scale ul {
    margin-bottom: 0;
    float: left;
    list-style: none;
    width: 100%;
}
.my-legend .legend-scale ul li {
    float: left;
    width: 20%;
    text-align: center;
    list-style: none;
}
.my-legend ul.legend-labels li span {
    float: left;
    height: 25px;
    width: 100%;
}

/***************** keyframes ******************/
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
